.frm_exoscale input[type="text"], .frm_exoscale select, .frm_exoscale textarea {width: 70%;}
.exoscale_alert_box{padding: 10px 20px !important;font-weight: 600;margin: 5px 0 15px !important;background: #fff !important;border-left: 4px solid #fff !important;box-shadow: 0 1px 1px 0 rgba(0,0,0,.1) !important;}
.exoscale_alert_message{border-left-color: #46b450 !important;}
.exoscale_alert_error{border-left-color: #CC0000 !important;}
.exoscale_alert_warning{border-left-color: #e6db55 !important;}
div.exoscale_actions a.exoscale_del_icon{position: absolute;margin-top: -23px;margin-left: 24px;}
table.exoscale_actions tr, table.exoscale_actions td{background: none !important;padding: 0px !important; margin: 0px !important;}
table.exoscale_actions td a{padding: 0px !important; margin: 3px !important;margin-bottom: -3px !important;min-width: 40px;display: inline-block;text-align: center;}
.jtable thead table.exoscale_actions{margin-top: -10px;}
.hidden{display: none;}
.exoscale_ajax_loader{background: url("../images/ajax-loader.gif") no-repeat; width: 16px; height: 16px; margin-top: 5px; display: none;}